/*
Styles related DIRECTLY with jQuery-simple-pagination
*/
.simple-pagination-page-numbers a
{
	display: block;
	float: left;
	width: 2rem;
	text-align: center;
}
a
{
	color: #216ed9;
	text-decoration: none;
}
a h1
{
	padding: 2rem;
	color: #216ed9;
	text-align: center;
}
a:hover
{
	text-decoration: underline;
}
a[class^="simple-pagination-navigation-"] + a[class^="simple-pagination-navigation-"]
{
	margin-right: 0;
}
a[class*="simple-pagination-navigation-disabled"]
{
	color: black;
	cursor: default;
}

.my-navigation:after
{
	content: "";
	display: table;
	clear: both;
}
.my-navigation div
{
	float: left;
}
.my-navigation div + div
{
	margin-left: .5rem;
}
body > div + header
{
	margin-top: 6rem;
}
body > div
{
	border-radius: 0 0 .5rem .5rem;
	background-color: white;
}
body > div > div,
div > div + table
{
	margin-top: 1rem;
}
select
{
	border: 1px solid black;
	font-size: 13px;
}
i
{
	padding: .125rem .5rem;
	background-color: white;
	color: #ff2727;
	font-weight: normal;
}